<div class="form-group radio">

    <!-- <form #f="ngForm">
        <label>
            <input type="radio" name="sorting" value="ASC" [(ngModel)]="benchmarkOrder"> ASC
        </label>
        <label>
            <input type="radio" name="sorting" value="DESC" [(ngModel)]="benchmarkOrder"> DESC
        </label>
        <label>
            <input type="radio" name="sorting" value="Default" [(ngModel)]="benchmarkOrder"> Default
        </label>

    </form> -->


    <form [formGroup]="form">
        <label class="center-block">
            <input type="radio" formControlName="sorting" value="Asc"> Asc
        </label>
        <label class="center-block">
            <input type="radio" formControlName="sorting" value="Desc"> Desc
        </label>
        <label class="center-block">
            <input type="radio" formControlName="sorting" value="Default"> Default
        </label>
    </form>

</div>

<div id='claimsWaterfall' #claimsWaterfall>
    <div class="claim-waterfall-tooltip"></div>
</div>